<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WarehouseManagement.Presentation.Properties.Settings.QLKHOQUANCFConnectionString"
            connectionString="Data Source=CuBo\\SQLEXPRESS;Initial Catalog=QLKHOQUANCF;Integrated Security=True" />
        <add name="QLKHOQUANCFEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-F40SAHCS\MSSSERVER;initial catalog=QLKHOQUANCF;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
        <add name="laptop-f40sahcs\mssserver.QLKHOQUANCF.dbo" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-F40SAHCS\MSSSERVER;integrated security=SSPI;initial catalog=QLKHOQUANCF;Encrypt=true;TrustServerCertificate=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>